<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hacktiv8 Bank</title>
</head>
<body>
  <a href="/customers"><h1>Enter</h1></a>
</body>
</html>